# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CUDA_Incrament_Kernel/v16/*
x64/Debug/*




CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/.suo
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-shm
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-wal
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.opendb
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/ipch/AutoPCH/b239162949f5e7ee/KERNEL.ipch
Threads_Indices/.vs/Threads_Indices/v16/.suo
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-shm
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-wal
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.opendb
Threads_Indices/.vs/Threads_Indices/v16/ipch/AutoPCH/fabfb0bb4328ec0a/KERNEL.ipch
Threads_Indices/Threads_Indices.vcxproj.user
CUDA_Increment_Kernel/CUDA_Incrament_Kernel.vcxproj.user
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/.suo
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/ipch/AutoPCH/b239162949f5e7ee/KERNEL.ipch
Increment_Kernel/Incrament_Kernel.vcxproj.user
Threads_Indices_Kernel/.vs/Threads_Indices/v16/.suo
Threads_Indices_Kernel/.vs/Threads_Indices/v16/Browse.VC.db
Threads_Indices_Kernel/.vs/Threads_Indices/v16/ipch/AutoPCH/fabfb0bb4328ec0a/KERNEL.ipch
Increment_Kernel/.vs/Increment_Kernel/v16/.suo
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db
Increment_Kernel/.vs/Increment_Kernel/v16/ipch/AutoPCH/48b4ac9245345af0/KERNEL.ipch
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/.suo
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/ipch/AutoPCH/615bba4db0582aae/KERNEL.ipch
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/.suo
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db-shm
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db-wal
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.opendb
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/ipch/AutoPCH/2335967404edfde9/KERNEL.ipch
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/ipch/AutoPCH/fee08b4809c813d7/KERNEL.ipch
Vector_Addition_Kernel/Vector_Addition_Kernel.vcxproj.user
Vector_Addition_Kernel/x64/Debug/kernel.cu.cache
Vector_Addition_Kernel/x64/Debug/kernel.cu1345422614.deps
Vector_Addition_Kernel/x64/Debug/vc142.pdb
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/CudaCompile.read.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/CudaCompile.write.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.command.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.read.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.write.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/Vector_Addition_Kernel.lastbuildstate
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/Vector_Addition_Kernel.write.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.exe.recipe
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.exp
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.ilk
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.log
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.pdb
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.vcxproj.FileListAbsolute.txt
Vector_Addition_Kernel/x64/Release/kernel.cu.cache
Vector_Addition_Kernel/x64/Release/kernel.cu1345422614.deps
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/CudaCompile.read.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/CudaCompile.write.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.command.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.read.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.write.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/Vector_Addition_Kernel.lastbuildstate
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/Vector_Addition_Kernel.write.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.exe.recipe
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.exp
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.log
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.pdb
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.vcxproj.FileListAbsolute.txt
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db-shm
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db-wal
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.opendb
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db-shm
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db-wal
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.opendb
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.Build.CppClean.log
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/.suo
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db-shm
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db-wal
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.opendb
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/ipch/AutoPCH/6815b999fc027b4/KERNEL.ipch
Image_Color_Manipulation_Kernel/Image_Color_Manipulation_Kernel.vcxproj.user
Threads_Indices_Kernel/Threads_Indices_Kernel.vcxproj.user
Image_Color_Manipulation_Kernel/x64/Debug/vc142.pdb
Image_Color_Manipulation_Kernel/x64/Debug/vc142.idb
Image_Color_Manipulation_Kernel/x64/Debug/kernel.cu1010946577.deps
Image_Color_Manipulation_Kernel/x64/Debug/kernel.cu.cache
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.vcxproj.FileListAbsolute.txt
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.pdb
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.log
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.ilk
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.exp
Image_Color_Manipulation_Kernel/x64/Debug/Image_Color_Manipulation_Kernel.exe.recipe
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/link.write.1.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/link.read.1.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/link.command.1.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/Image_Color_Manipulation_Kernel.write.1u.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/Image_Color_Manipulation_Kernel.lastbuildstate
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/CudaCompile.write.1u.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/CudaCompile.read.1u.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/CL.write.1.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/CL.read.1.tlog
Image_Color_Manipulation_Kernel/x64/Debug/Image_Co.54CC73EA.tlog/CL.command.1.tlog
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/ipch/AutoPCH/378f337d976de8c7/STB_IMAGE_WRITE.ipch
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/ipch/AutoPCH/fe4ba30f3545d5a2/STB_IMAGE_LOAD.ipch
Device_Properties/.vs/Device_Properties/v16/.suo
Device_Properties/.vs/Device_Properties/v16/Browse.VC.db
Device_Properties/.vs/Device_Properties/v16/Browse.VC.db-shm
Device_Properties/.vs/Device_Properties/v16/Browse.VC.db-wal
Device_Properties/.vs/Device_Properties/v16/Browse.VC.opendb
Device_Properties/.vs/Device_Properties/v16/ipch/AutoPCH/7841cfc37eeb0d9b/KERNEL.ipch
Device_Properties/Device_Properties.vcxproj.user
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/CudaCompile.read.1u.tlog
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/CudaCompile.write.1u.tlog
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/Device_Properties.lastbuildstate
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/Device_Properties.write.1u.tlog
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/link.command.1.tlog
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/link.read.1.tlog
Device_Properties/x64/Debug/Device_P.27DD751B.tlog/link.write.1.tlog
Device_Properties/x64/Debug/Device_Properties.exe.recipe
Device_Properties/x64/Debug/Device_Properties.exp
Device_Properties/x64/Debug/Device_Properties.ilk
Device_Properties/x64/Debug/Device_Properties.log
Device_Properties/x64/Debug/Device_Properties.pdb
Device_Properties/x64/Debug/Device_Properties.vcxproj.FileListAbsolute.txt
Device_Properties/x64/Debug/kernel.cu.cache
Device_Properties/x64/Debug/kernel.cu472233115.deps
Device_Properties/x64/Debug/vc142.pdb
Cuda_Functions/x64/Debug/Cuda_Functions.exe.recipe
Cuda_Functions/x64/Debug/Cuda_Functions.exp
Cuda_Functions/x64/Debug/Cuda_Functions.ilk
Cuda_Functions/x64/Debug/Cuda_Functions.log
Cuda_Functions/x64/Debug/Cuda_Functions.pdb
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/Cuda_Functions.lastbuildstate
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/Cuda_Functions.write.1u.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/CudaCompile.read.1u.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/CudaCompile.write.1u.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/link.command.1.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/link.read.1.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.tlog/link.write.1.tlog
Cuda_Functions/x64/Debug/Cuda_Functions.vcxproj.FileListAbsolute.txt
Cuda_Functions/x64/Debug/kernel.cu.cache
Cuda_Functions/x64/Debug/kernel.cu356013610.deps
Cuda_Functions/x64/Debug/vc142.pdb
Cuda_Functions/.vs/Cuda_Functions/v16/Browse.VC.db
Cuda_Functions/.vs/Cuda_Functions/v16/ipch/AutoPCH/c6136b9a068bdcf6/KERNEL.ipch
Cuda_Functions/Cuda_Functions.vcxproj.user
Cuda_Functions/.vs/Cuda_Functions/v16/.suo
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v17/ipch/AutoPCH/cf6ba531728771ba/KERNEL.ipch
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v17/ipch/AutoPCH/4a68a8eef57de050/KERNEL.ipch
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v17/Browse.VC.db
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v17/.suo
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/FileContentIndex/read.lock
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/FileContentIndex/7bc21d2a-7e89-455a-9d66-b6ac923894b4.vsidx
ModernCPP/.vs/ModernCPP/v16/.suo
Increment_Kernel/.vs/Increment_Kernel/v16/ipch/AutoPCH/add82fb511679eb6/KERNEL.ipch
ModernCPP/.vs/ModernCPP/v16/Browse.VC.db
ModernCPP/.vs/ModernCPP/v16/ipch/AutoPCH/39b13da6d0aae3ef/KERNEL.ipch
Occupancy/x64/Debug/vc142.pdb
Occupancy/x64/Debug/Occupancy.vcxproj.FileListAbsolute.txt
Occupancy/x64/Debug/Occupancy.tlog/Occupancy.write.1u.tlog
Occupancy/x64/Debug/Occupancy.tlog/Occupancy.lastbuildstate
Occupancy/x64/Debug/Occupancy.tlog/link.write.1.tlog
Occupancy/x64/Debug/Occupancy.tlog/link.read.1.tlog
Occupancy/x64/Debug/Occupancy.tlog/link.command.1.tlog
Occupancy/x64/Debug/Occupancy.tlog/CudaCompile.write.1u.tlog
Occupancy/x64/Debug/Occupancy.tlog/CudaCompile.read.1u.tlog
Occupancy/x64/Debug/Occupancy.pdb
Occupancy/x64/Debug/Occupancy.log
Occupancy/x64/Debug/Occupancy.ilk
Occupancy/x64/Debug/Occupancy.exp
Occupancy/x64/Debug/Occupancy.exe.recipe
Occupancy/x64/Debug/kernel.cu394686747.deps
Occupancy/x64/Debug/kernel.cu.cache
Occupancy/Occupancy.vcxproj.user
Occupancy/.vs/Occupancy/v16/Browse.VC.opendb
Occupancy/.vs/Occupancy/v16/Browse.VC.db-wal
Occupancy/.vs/Occupancy/v16/Browse.VC.db-shm
Occupancy/.vs/Occupancy/v16/Browse.VC.db
Occupancy/.vs/Occupancy/v16/.suo
ModernCPP/x64/Debug/vc142.pdb
ModernCPP/x64/Debug/ModernCPP.vcxproj.FileListAbsolute.txt
ModernCPP/x64/Debug/ModernCPP.tlog/ModernCPP.write.1u.tlog
ModernCPP/x64/Debug/ModernCPP.tlog/ModernCPP.lastbuildstate
ModernCPP/x64/Debug/ModernCPP.tlog/link.write.1.tlog
ModernCPP/x64/Debug/ModernCPP.tlog/link.read.1.tlog
ModernCPP/x64/Debug/ModernCPP.tlog/link.command.1.tlog
ModernCPP/x64/Debug/ModernCPP.tlog/CudaCompile.write.1u.tlog
ModernCPP/x64/Debug/ModernCPP.tlog/CudaCompile.read.1u.tlog
ModernCPP/x64/Debug/ModernCPP.pdb
ModernCPP/x64/Debug/ModernCPP.log
ModernCPP/x64/Debug/ModernCPP.ilk
ModernCPP/x64/Debug/ModernCPP.exp
ModernCPP/x64/Debug/ModernCPP.exe.recipe
ModernCPP/x64/Debug/kernel.cu.cache
ModernCPP/x64/Debug/kernel.cu-446013458.deps
ModernCPP/ModernCPP.vcxproj.user
ModernCPP/.vs/ModernCPP/v17/.suo
Occupancy/.vs/Occupancy/v16/ipch/AutoPCH/ca43b9f4dc62789a/KERNEL.ipch
