# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CUDA_Incrament_Kernel/v16/*
x64/Debug/*




CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/.suo
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-shm
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-wal
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.opendb
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/ipch/AutoPCH/b239162949f5e7ee/KERNEL.ipch
Threads_Indices/.vs/Threads_Indices/v16/.suo
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-shm
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-wal
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.opendb
Threads_Indices/.vs/Threads_Indices/v16/ipch/AutoPCH/fabfb0bb4328ec0a/KERNEL.ipch
Threads_Indices/Threads_Indices.vcxproj.user
CUDA_Increment_Kernel/CUDA_Incrament_Kernel.vcxproj.user
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/.suo
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db
Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/ipch/AutoPCH/b239162949f5e7ee/KERNEL.ipch
Increment_Kernel/Incrament_Kernel.vcxproj.user
Threads_Indices_Kernel/.vs/Threads_Indices/v16/.suo
Threads_Indices_Kernel/.vs/Threads_Indices/v16/Browse.VC.db
Threads_Indices_Kernel/.vs/Threads_Indices/v16/ipch/AutoPCH/fabfb0bb4328ec0a/KERNEL.ipch
Increment_Kernel/.vs/Increment_Kernel/v16/.suo
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db
Increment_Kernel/.vs/Increment_Kernel/v16/ipch/AutoPCH/48b4ac9245345af0/KERNEL.ipch
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/.suo
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/ipch/AutoPCH/615bba4db0582aae/KERNEL.ipch
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/.suo
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db-shm
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.db-wal
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/Browse.VC.opendb
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/ipch/AutoPCH/2335967404edfde9/KERNEL.ipch
Vector_Addition_Kernel/.vs/Vector_Addition_Kernel/v16/ipch/AutoPCH/fee08b4809c813d7/KERNEL.ipch
Vector_Addition_Kernel/Vector_Addition_Kernel.vcxproj.user
Vector_Addition_Kernel/x64/Debug/kernel.cu.cache
Vector_Addition_Kernel/x64/Debug/kernel.cu1345422614.deps
Vector_Addition_Kernel/x64/Debug/vc142.pdb
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/CudaCompile.read.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/CudaCompile.write.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.command.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.read.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/link.write.1.tlog
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/Vector_Addition_Kernel.lastbuildstate
Vector_Addition_Kernel/x64/Debug/Vector_A.60708A84.tlog/Vector_Addition_Kernel.write.1u.tlog
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.exe.recipe
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.exp
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.ilk
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.log
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.pdb
Vector_Addition_Kernel/x64/Debug/Vector_Addition_Kernel.vcxproj.FileListAbsolute.txt
Vector_Addition_Kernel/x64/Release/kernel.cu.cache
Vector_Addition_Kernel/x64/Release/kernel.cu1345422614.deps
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/CudaCompile.read.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/CudaCompile.write.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.command.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.read.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/link.write.1.tlog
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/Vector_Addition_Kernel.lastbuildstate
Vector_Addition_Kernel/x64/Release/Vector_A.60708A84.tlog/Vector_Addition_Kernel.write.1u.tlog
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.exe.recipe
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.exp
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.log
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.pdb
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.vcxproj.FileListAbsolute.txt
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db-shm
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.db-wal
Increment_Kernel/.vs/Increment_Kernel/v16/Browse.VC.opendb
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db-shm
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.db-wal
Threads_Indices_Kernel/.vs/Threads_Indices_Kernel/v16/Browse.VC.opendb
Vector_Addition_Kernel/x64/Release/Vector_Addition_Kernel.Build.CppClean.log
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/.suo
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db-shm
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.db-wal
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/Browse.VC.opendb
Image_Color_Manipulation_Kernel/.vs/Image_Color_Manipulation_Kernel/v16/ipch/AutoPCH/6815b999fc027b4/KERNEL.ipch
Image_Color_Manipulation_Kernel/Image_Color_Manipulation_Kernel.vcxproj.user
Threads_Indices_Kernel/Threads_Indices_Kernel.vcxproj.user
