# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CUDA_Incrament_Kernel/v16/*
x64/Debug/*




CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/.suo
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-shm
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.db-wal
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/Browse.VC.opendb
CUDA_Increment_Kernel/.vs/CUDA_Increment_Kernel/v16/ipch/AutoPCH/b239162949f5e7ee/KERNEL.ipch
Threads_Indices/.vs/Threads_Indices/v16/.suo
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-shm
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.db-wal
Threads_Indices/.vs/Threads_Indices/v16/Browse.VC.opendb
Threads_Indices/.vs/Threads_Indices/v16/ipch/AutoPCH/fabfb0bb4328ec0a/KERNEL.ipch
Threads_Indices/Threads_Indices.vcxproj.user
CUDA_Increment_Kernel/CUDA_Incrament_Kernel.vcxproj.user
